"fileTypes": [
    'feature'
]
"name": 'Gherkin EN & RU'
"patterns": [
    {
        "match": '\\s*(Scenario\\:|Feature\\:|Scenario Outline\\:|Background\\:|Examples\\:|Функция\\:|Функционал\\:|Свойство\\:|Предыстория\\:|Контекст\\:|Сценарий\\:|Структура сценария\\:|Примеры\\:)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s*(Given|Then|When|And|But|Допустим|Дано|Пусть|Если|К тому же|Также|Когда|Тогда|То|И|Но|А)\b'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(?<=\\s|^)(@[A-Za-zА-Яа-я0-9_\\-]+)'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "match": '#(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\'.*?[^\\']\\')"
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '(\\".*?[^\\"]\\")'
        "name": 'string.double.qoute.gherkin'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.gherkin'
    }
    {
        "match": '\\|\\s(.*)\\s\\|'
        "name": 'constant.character.escape.feature'
    }
]
'scopeName': 'source.feature'
